POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_CONN_MAX_AGE=
POSTGRES_CONNECT_TIMEOUT=
POSTGRES_SSLMODE=
GOOGLE_OIDC_CLIENT_ID=
GOOGLE_OIDC_REDIRECT_URI=
FRONTEND_AUTH_RETURN_URL=
GROQ_MODEL=
LLM_PROVIDER_REQUIRED=
LLM_MAX_COMPLETION_TOKENS=
LLM_MAX_VISUAL_CONCEPTS=
LLM_MAX_VISUAL_CONCEPT_CHARACTERS=
ARASAAC_CONNECT_TIMEOUT_SECONDS=
ARASAAC_READ_TIMEOUT_SECONDS=
ARASAAC_TOTAL_TIMEOUT_SECONDS=
LLM_CONNECT_TIMEOUT_SECONDS=
LLM_READ_TIMEOUT_SECONDS=
LLM_MAX_ATTEMPTS=
LLM_RETRY_BASE_MILLISECONDS=
LLM_MAX_RETRY_DELAY_SECONDS=
LLM_TOTAL_TIMEOUT_SECONDS=
LLM_MAX_CONCURRENT_PROVIDER_CALLS_PER_PROCESS=
LLM_DUPLICATE_CACHE_ALIAS=
LLM_REQUIRE_SHARED_DUPLICATE_CACHE=
LLM_DUPLICATE_TTL_SECONDS=
LLM_INTERPRETATION_ATTEMPTS_PER_MINUTE=
LLM_INTERPRETATION_ATTEMPTS_PER_DAY=
LLM_RATE_LIMIT_STATE_RETENTION_DAYS=
LLM_USER_REQUESTS_PER_MINUTE=
LLM_USER_REQUESTS_PER_DAY=
LLM_USER_TOKENS_PER_MINUTE=
LLM_USER_TOKENS_PER_DAY=
LLM_GLOBAL_REQUESTS_PER_MINUTE=
LLM_GLOBAL_REQUESTS_PER_DAY=
LLM_GLOBAL_TOKENS_PER_MINUTE=
LLM_GLOBAL_TOKENS_PER_DAY=
